body {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-width: 100vh;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.centeredContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  padding: 5px;
  color: rgb(241, 46, 46);
  font-family: "Lobster", cursive;
  font-size: 2em;
  padding-bottom: 0px;
}

.tagline {
  margin: 0;
  padding: 5px;
  padding-top: 0;
  margin: 5px;
  margin-bottom: 50px;
  color: rgb(110, 110, 110);
  font-family: "Dancing Script", cursive;
  font-size: 1.1em;
}

input {
  height: 45px;
  border: 1px solid;
  width: 350px;
  border-color: rgb(184, 184, 184);
  border-radius: 12px;
}

button {
  height: 50px;
  color: white;
  font-size: 1.2em;
  border: 1px solid;
  width: 350px;
  border-color: rgb(184, 184, 184);
  border-radius: 12px;
  background-color: rgb(241, 46, 46);
}

button:hover {
  margin: 0px;
  height: 50px;
  color: rgb(231, 231, 231);
  font-size: 1.4em;
  border: 1px solid;
  width: 350px;
  border-color: rgb(184, 184, 184);
  border-radius: 12px;
  background-color: rgb(49, 49, 49);
}
